<nav class="navbar">
    <div class="nav-main">
        <a href="/">
            <img src="/img/logo2.png" alt="">
        </a>
        <ul>
            <li><a href="/formulario"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href="/carrito" class="vender">Carrito</a></li>
            <li><a href="#" id="menu-toggle" class="menu-toggle"><i class="fas fa-bars"></i></a></li>
        </ul>
    </div>
    <div class="nav-center" id="nav-center">
        <ul class="list-items">
            <li id="categories-toggle">
                <a href="#">Categorias</a>
                <ul class="dropdown" id="categories-dropdown">
                    <li><a href="#">Tecnologia</a></li>
                    <li><a href="#">Mercado</a></li>
                    <li><a href="#">Comida rápida</a></li>
                    <li><a href="#">Limpieza</a></li>
                    <li><a href="#">Tendencia</a></li>
                </ul>
            </li>
            <li><a href="/search">Buscar</a></li>
        </ul>
        <ul class="list-links">
            <li><a href="/" class="cuenta">Nombre</a></li>
            <li><a href="/login">Cerrar Sesión</a></li>
        </ul>
    </div>
</nav>