<!doctype html>
<html lang="en">

<head>
    <%- include('./partials/head', {title:'Das-Backup'}) %>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <script>
        const logOut = () => {
            sessionStorage.clear();
            window.location.href= "/"
        };
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include('./partials/header-dash') %>
            </div>
            <div class="col-sm-10 contentDelete">
                <div class="container mt-4">
                    <div class="row">
                        <span class="col-10 title-user">Copia de seguridad</span>
                        <div class="col-2 p-1 sidebar-item"><i class="sidebar-icon bi bi-person-circle"></i> <span
                                style="margin-left: 10px;">Emmanuel</span></div>
                    </div>

                </div>
                <div class="col-sm-10">
                    <div class="card m-4" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h5 class="card-title">Ultima Copia de Seguridad</h5>
                                <h6><i class="bi bi-cloud-arrow-up-fill fs-2"></i>
                                    <% let fecha = new Date(backup.fecha);
                                    let opcionesFecha = { day: '2-digit', month: '2-digit', year: 'numeric'}
                                    let fechaFormateada = fecha.toLocaleDateString('es-CO', opcionesFecha) %>
                                    <%= fechaFormateada %>
                                </h6>
                                <button class="btn btn-warning create">Crear Copia</button>
                            </li>
                            <li class="list-group-item">
                                <h5 class="card-title">Restablecer Copia de Seguridad</h5>
                                <h6><i class="bi bi-cloud-arrow-up-fill fs-2"></i> 10/02/2024</h6>
                                <button class="btn btn-warning recovery" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">Recuperar copia</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header" style="align-self: center;padding-bottom:20px">
                                <h5 class="modal-title fs-5" id="staticBackdropLabel">¿Desea restablecer la copia de
                                    seguridad?</h5>
                            </div>
                            <div style="text-align: center;padding-bottom: 20px;">
                                <button type="button" class="btn btn-warning accept" data-bs-dismiss="modal"
                                    style="color:white">Aceptar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Rechazar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/backup.js"></script>
    <%- include('./partials/scripts') %>
</body>

</html>