<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación</title>
    <link rel="stylesheet" href="/css/views/check.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/variables.css">
    <script src="https://kit.fontawesome.com/58e42bf76d.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./partials/header-ini') %>
    <div class="container">
        <div class="success-icon">
          <i class="fa fa-check"></i>
        </div>
        <div class="success-message">TRANSACCIÓN COMPLETA
        <p>Estado del pedido: <%= pedido.EstadoPedido %></p>
        </div>
      </div>

    <footer class="bg-secondary text-white py-10 mt-10 ">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 ">
                <nav>
                    <h3 class="text-white text-lg font-bold mb-4 ">Información</h3>
                    <ul>
                        <li class="mb-2 "><a class="hover:text-white transition-colors duration-200 "
                                href="">Condiciones de uso </a></li>
                        <li class="mb-2 "><a class="hover:text-white transition-colors duration-200 " href="">Aviso de
                                privicidad </a></li>
                        <li class="mb-2 "><a class="hover:text-white transition-colors duration-200 " href="">Ayuda </a>
                        </li>
                    </ul>
                </nav>
                <nav>
                    <h3 class="text-white text-lg font-bold mb-4 ">Legal</h3>
                    <ul>
                        <li class="mb-2 "><a class="hover:text-white transition-colors duration-200 " href="">Terminos y
                                condiciones </a></li>
                        <li class="mb-2 "><a class="hover:text-white transition-colors duration-200 " href="">Todos los
                                derechos reservados </a></li>
                        <li class="mb-2 "><a class="hover:text-white transition-colors duration-200 " href="">Tartaro
                                INC</a></li>
                    </ul>
                </nav>
                <nav>
                    <h3 class="text-white text-lg font-bold mb-4 ">Redes sociales</h3>
                    <ul class="flex space-x-4">
                        <li class="mb-2 "><a href=""><i class="fab fa-facebook fa-lg"></i></a></li>
                        <li class="mb-2 "><a href=""><i class="fab fa-twitter fa-lg"></i></a></li>
                        <li class="mb-2 "><a href=""><i class="fab fa-instagram fa-lg"></i></a></li>
                    </ul>
                </nav>
                <nav>
                    <h3 class="text-white text-lg font-bold mb-4 ">Contacto</h3>
                    <ul>
                        <li class="mb-2 "><a class="hover:text-white transition-colors duration-200 "
                                href="mailto:danirojasbermudez20@gmail.com">danirojasbermudez20@gmail.com</a></li>
                        <li class="mb-2 "><a class="hover:text-white transition-colors duration-200 "
                                href="tel:+573052338332"> +57 305-233-8332</a></li>
                    </ul>
                </nav>

            </div>
            <div class="mt-8 text-center border-t border-gray-700 pt-4">
                <p>&copy; 2024 Tartaro Inc. Todos los derechos reservados</p>
            </div>
        </div>
    </footer>
    <script src="/js/check.js"></script>
</body>

</html>